{% extends "nrh-default-contribution-base-template.html" %}

{% block custom_style %}
<style type="text/css">
  .header-background {
    width: 600px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    background: #ffffff;
    {% if style.header_color %}
    background: {{ style.header_color }} !important;
    {% endif %}
  }

  .header-background.default {
    background: none !important;
    text-align: left;
  }

  .header-logo {
    height: 56px;
    margin-top: 17px;
    margin-bottom: 17px;
    max-width: 100%;
    width: auto;
  }

  .header-logo.default {
    height: 50px;
    width: auto;
  }

  .thank-you-title {
    font-family: Roboto, sans-serif;
    color: #25192B;
    font-size: 30px;
    margin-top: 37px;
    margin-bottom: 25px;
  }

  .user-info {
    font-family: Roboto, sans-serif;
    color: #282828;
    font-size: 16px;
  }

  .user-info-second-line {
    margin-top: 28px;
    margin-bottom: 25px;
  }

  .outer-center {
    margin-left: 34px;
    margin-right: 34px;
  }

  .billing-history-header {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #282828;
    margin-bottom: 20px;
  }

  .billing-history-label {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 6px;
  }

  .billing-history-value {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #282828;
    margin-bottom: 12px;
  }
</style>
{% endblock custom_style %}

{% block header %}
{% if style.is_default_logo == True and style.logo_url %}
<tr>
  <td class="header-background default">
    <img class="header-logo inner-center default" src="{{ style.logo_url }}" alt="{{ style.logo_alt_text }}" />
  </td>
</tr>
{% elif style.logo_url %}
<tr>
  <td class="header-background">
    <img class="header-logo" src="{{ style.logo_url }}" alt="{{ style.logo_alt_text }}" />
  </td>
</tr>
{% endif %}
<tr>
  <td style="padding-right: 0px;padding-left: 0px;" align="left">
    <h1 class="thank-you-title inner-center">Thank You for Your Contribution!</h1>
  </td>
</tr>
<tr>
  <td style="padding-right: 0px;padding-left: 0px;" align="left">
    <p class="user-info inner-center">
      Dear {{ contributor_name }},
    </p>
    {% if customizations.contribution_receipt.message %}
      {{ customizations.contribution_receipt.message.content_html | safe }}
    {% else %}
      <p class="user-info user-info-second-line inner-center">
        Thank you for supporting {{ rp_name }}.
      </p>
    {% endif %}
  </td>
</tr>
{% endblock header %}

{% block timestamp_label %}Received{% endblock timestamp_label %}

{% block billing_history %}
  {% if billing_history and show_billing_history %}
    <div class="u-row-container" style="padding-bottom: 70px;">
      <p class="outer-center billing-history-header">Billing History</p>
      <table class="outer-center" width="532px" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="padding-right: 0px;padding-left: 0px;" align="left">
              <p class="billing-history-label">Date</p>
          </td>
          <td style="padding-right: 0px;padding-left: 0px;" align="left">
              <p class="billing-history-label">Amount</p>
          </td>
          <td style="padding-right: 0px;padding-left: 0px;" align="left">
              <p class="billing-history-label">Status</p>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 0px;padding-left: 0px;" align="left">
            <div style="border-bottom: 1px solid #f1f1f1; margin-bottom: 18px;"></div>
          </td>
          <td style="padding-right: 0px;padding-left: 0px;" align="left">
            <div style="border-bottom: 1px solid #f1f1f1; margin-bottom: 18px;"></div>
          </td>
          <td style="padding-right: 0px;padding-left: 0px;" align="left">
            <div style="border-bottom: 1px solid #f1f1f1; margin-bottom: 18px;"></div>
          </td>
        </tr>

        {% for item in billing_history %}
          <tr>
            <td style="padding-right: 0px;padding-left: 0px;" align="left">
                <p class="billing-history-value">{{ item.payment_date }}</p>
            </td>
            <td style="padding-right: 0px;padding-left: 0px;" align="left">
                <p class="billing-history-value">{{ item.payment_amount }}</p>
            </td>
            <td style="padding-right: 0px;padding-left: 0px;" align="left">
                <p class="billing-history-value">{{ item.payment_status }}</p>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock billing_history %}
