{% extends "nrh-default-contribution-base-template.html" %}

{% block header %}
<tr>
  <td style="padding-right: 0px;padding-left: 0px;" align="left">
    <img class="logo inner-center" src="{{ logo }}">
  </td>
</tr>
<tr>
  <td style="padding-right: 0px;padding-left: 0px;" align="left">
    <h1 class="thank-you-title inner-center">Thank You for Your Contribution!</h1>
  </td>
</tr>
<tr>
  <td style="padding-right: 0px;padding-left: 0px;" align="left">
    <p class="user-info inner-center">
      Dear {{ contributor_name }},
    </p>
    <p class="user-info user-info-second-line inner-center">
      Thank you for supporting {{ rp_name }}.
    </p>
  </td>
</tr>
{% endblock header %}

{% block contribution_date_label %}
Received
{% endblock contribution_date_label %}
