{% extends "nrh-default-contribution-base-template.html" %}

{% block custom_style %}
<style type="text/css">
  .logo {
      margin-top: 46px;
      height: 47px;
    }

    .thank-you-title {
      font-family: Roboto, sans-serif;
      color: #25192B;
      font-size: 30px;
      margin-top: 37px;
      margin-bottom: 25px;
    }

    .user-info {
      font-family: Roboto, sans-serif;
      color: #282828;
      font-size: 16px;
    }

    .user-info-second-line {
      margin-top: 28px;
      margin-bottom: 25px;
    }
</style>
{% endblock custom_style %}

{% block header %}
<tr>
  <td style="padding-right: 0px;padding-left: 0px;" align="left">
    {% load static %}
    <img class="logo inner-center" src="{% static 'nre-logo-yellow.svg' %}" alt="NRE logo" >
  </td>
</tr>
<tr>
  <td style="padding-right: 0px;padding-left: 0px;" align="left">
    <h1 class="thank-you-title inner-center">Thank You for Your Contribution!</h1>
  </td>
</tr>
<tr>
  <td style="padding-right: 0px;padding-left: 0px;" align="left">
    <p class="user-info inner-center">
      Dear {{ contributor_name }},
    </p>
    <p class="user-info user-info-second-line inner-center">
      Thank you for supporting {{ rp_name }}.
    </p>
  </td>
</tr>
{% endblock header %}

{% block contribution_date_label %}
Received
{% endblock contribution_date_label %}
