{% extends "nrh-user-base-template.html" %}

{% block custom_style %}
<style type="text/css">
  .content-container {
    max-width: 520px;
    padding: 20px;
  }

  .asterisk {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #25192B;
  }

  .header-icon {
    height: 30px;
    width: 30px;
    margin-bottom: -5px;
    margin-right: 7px;
  }

  .text-sub {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #25192B;
  }

  .text {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #282828;
  }

  .list-item {
    margin: 27px 0px;
  }

  .list-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .bottom-text {
    font-size: 18px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #282828;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
  }

  .small-text {
    color: #707070;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    margin-top: 36px;
  }

  .button-wrapper {
    margin-top: 38px;
  }
</style>
{% endblock custom_style %}

{% block content %}
{% comment %} TODO: [DEV-3779] Style this email in accordance with design spec{% endcomment %}
<h1 class="content-header" style="margin-bottom: 20px; margin-top: 0px;">
  <img class="header-icon" src="{{ check_icon }}" alt="Check icon" />
  You’ve Upgraded to Core!<span class="asterisk">*</span>
</h1>

<div style="height: 1px; background: #f1f1f1; margin-top: 20px; margin-bottom: 20px;">
</div>

<p class="text-sub">Start enjoying your new features:</p>
<ul style="list-style-type: none; padding-left: 25px;">
  <li class="list-item">
    <table>
      <tr>
        <td>
          <img class="list-icon" src="{{ mail_icon }}" alt="Mail icon" />
        </td>
        <td>
          <p class="text">
            Save time with a Mailchimp integration
          </p>
        </td>
      </tr>
    </table>
  </li>
  <li class="list-item">
    <table>
      <tr>
        <td>
          <img class="list-icon" src="{{ paint_icon }}" alt="Paint icon" />
        </td>
        <td>
          <p class="text">
            Styled receipts, payment reminders, and Contributor Portal
          </p>
        </td>
      </tr>
    </table>
  </li>
  <li class="list-item">
    <table>
      <tr>
        <td>
          <img class="list-icon" src="{{ plus_icon }}" alt="Plus icon" />
        </td>
        <td>
          <p class="text">
            More pages to create and publish
          </p>
        </td>
      </tr>
    </table>
  </li>
</ul>
<p class="bottom-text">
  Get started with your Mailchimp integration now:
</p>
<div class="button-wrapper" style="text-align: center;">
  <a class="button" href="{{ mailchimp_integration_url }}" target="_blank">
    Connect to Mailchimp
  </a>
</div>
<table>
  <tr style="vertical-align: baseline;">
    <td>
      <p class="small-text">
        *
      <p>
    </td>
    <td>
      <p class="small-text">
        Upgrade may not be reflected immediately. In most cases, your upgrade will be active within 30 minutes. Please
        allow
        up to {{upgrade_days_wait}} business days.
      <p>
    </td>
  </tr>
</table>

{% endblock content %}
