[run]
source =
  apps
  revengine
omit =
    */tests/*
    */migrations/*
    */settings/*.py
    */wsgi.py
    */apps/e2e/flows/*
branch = True

[report]
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    <!--no cover-->
fail_under = 98
