.git
.env
.envrc
.direnv
venv
.circleci
*.db
*.dump
*.pgdump
*.sql
*.orig
npm-debug.log
.postgres
.python-version
.pytest_cache
webpack-stats.json
deploy/
spa/build/
revengine/settings/local.py
**/*.DS_Store
**/__pycache__
**/*.pyc
**/node_modules
**/media
