export GS_SERVICE_ACCOUNT=???
export STRIPE_TEST_SECRET_KEY_CONTRIBUTIONS=sk_test_???
export STRIPE_TEST_SECRET_KEY_UPGRADES=sk_test_???*
export REACT_APP_HUB_STRIPE_API_PUB_KEY=pk_test_???
export REACT_APP_CAPTURE_PAGE_SCREENSHOT=true
export STRIPE_WEBHOOK_SECRET_CONTRIBUTIONS=whsec_???
export STRIPE_WEBHOOK_SECRET_UPGRADES=whsec_???*
export STRIPE_CORE_PRODUCT_ID=
export DJANGO_SETTINGS_MODULE=revengine.settings.local
export DATABASE_URL=postgres://postgres@127.0.0.1:54000/revengine
export PGHOST=127.0.0.1
export PGPORT=54000
export PGUSER=postgres
export PGDATABASE=revengine
export REDIS_URL=redis://localhost:6379
export STRIPE_ACCOUNT_LINK_RETURN_BASE_URL=http://localhost:3000
export HOOKDECK_API_KEY=
export HOOKDECK_STRIPE_WEBHOOK_SOURCE_CONTRIBUTIONS=
export HOOKDECK_STRIPE_WEBHOOK_SOURCE_UPGRADES=
export MAILCHIMP_CLIENT_ID=
export MAILCHIMP_CLIENT_SECRET=
export REACT_APP_HUB_GOOGLE_MAPS_API_KEY=
export REACT_APP_NRE_MAILCHIMP_CLIENT_ID=$MAILCHIMP_CLIENT_ID
export RP_MAILCHIMP_LIST_CONFIGURATION_COMPLETE_TOPIC=rp-mailchimp-list-configuration-complete
