# adapted from:
# https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/
# https://github.com/psf/black/issues/429
[flake8]
max-complexity = 18
select = B,C,E,F,L,W,T4,B9
exclude=docs,migrations,node_modules
enable-extensions=G
per-file-ignores =
    # Ignore "may be undefined" because we from basesettings import *
    revengine/settings/*:F405
ignore =
    # Missing whitespace after ','
    E2,
    # Line break before binary operator
    W503,
    # Line too long (handled by black)
    E501,
    # Do not assign a lambda expression
    E731,
