# adapted from:
# https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/
# https://github.com/psf/black/issues/429
[flake8]
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude=docs,migrations,node_modules,revengine/settings
enable-extensions=G
ignore =
    E2,     # Missing whitespace after ','
    W503,   # Line break before binary operator
    E501,   # Line too long (handled by black)
    E731,   # Do not assign a lambda expression
