# See https://pre-commit.com for more information
repos:
  # Potpourri of hooks provided by github.
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-docstring-first
      - id: check-json
        exclude: docs/dev
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-xml
      - id: check-toml
      - id: check-yaml
        exclude: (deploy/host_vars|deploy/stack|deploy)
      - id: debug-statements
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: revengine/static/apple-developer-merchantid-domain-association
      #      - id: no-commit-to-branch
      - id: trailing-whitespace
  # Black code formatter.
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        language_version: python3.10
  # Python import sorter.
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
        exclude: ^.*\b(migrations)\b.*$
  # Pythonic checks.
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        exclude: docs|migrations|node_modules|revengine/settings
        additional_dependencies:
          - "flake8-logging-format"
  # # Pylint code checks.
  # # "local" because pylint needs all packages to dynamically import.
  # - repo: local
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [python]
  #       require_serial: true

  # Check Python dependencies against p0wned package database.
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.0
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml
  # Python security checks
  - repo: https://github.com/Lucas-C/pre-commit-hooks-bandit
    rev: v1.0.6
    hooks:
      - id: python-bandit-vulnerability-check
        args: [-r, ./webhookreceiver/]
        types: [python]
  # Temp commented out in DEV-1745 because talisman is binary, not apt installable, maybe requires golang.
  # # Checks for secrets.
  # - repo: https://github.com/thoughtworks/talisman
  #   rev: v1.26.0
  #   hooks:
  #     - id: talisman-commit
  # JS formater.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [javascript, ts, tsx]
  # JS code linter.
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.18.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["--config", "spa/.eslintrc.json", "spa/src"]
        additional_dependencies:
          - "@typescript-eslint/parser@^5.54.0"
          - "@typescript-eslint/eslint-plugin@^5.54.0"
          - eslint@8.41.0
          - eslint-config-react-app@^6.0.0
          - babel-eslint@^10.0.0
          - eslint-plugin-chai-friendly@^0.7.2
          - eslint-plugin-flowtype@^5.2.0
          - eslint-plugin-import@^2.22.0
          - eslint-plugin-jest@^24.0.0
          - eslint-plugin-jsx-a11y@^6.3.1
          - eslint-plugin-react@^7.20.3
          - eslint-plugin-react-hooks@^4.0.8
          - eslint-plugin-testing-library@^5.5.1
          - eslint-plugin-cypress@^2.13.3
          - eslint-config-prettier@^8.8.0
  # Disabled as it complains that `FROM base AS depploy needs to specific tag, but opinions vary.
  # DEV-1763
  # # Docker file formatter/checker.
  # - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
  #   rev: v0.1.0
  #   hooks:
  #     - id: dockerfilelint
  #       stages: [commit]
