repos:
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3.8
  - repo: https://github.com/pycqa/isort
    rev: 5.7.0
    hooks:
      - id: isort
        args: [ "--profile", "black", "--filter-files", "--thirdparty", "wagtail" ]
        exclude: ^.*\b(migrations)\b.*$
  - repo: https://github.com/PyCQA/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        exclude: settings|migrations|tests
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-json
        exclude: docs/dev
      - id: check-yaml
        exclude: (deploy/host_vars|deploy/stack|deploy)
      - id: check-xml
      - id: debug-statements
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: no-commit-to-branch
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        types: [javascript]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.25.0
    hooks:
    -   id: eslint
