version: '3.4'

services:
  web:
    env_file:
      - .docker.env
    image: revengine:latest
    command: ["uwsgi", "--http", "0.0.0.0:$PORT", "--show-config"]
    links:
      - db:db
    ports:
      - "8000:8000"
#    depends_on:
#      - db
#      - redis
##  mailhog:
##    image: mailhog/mailhog:v1.0.0
##  redis:
##    image: redis:5-alpine
##  worker:
##    image: revengine:latest
##    command: ["celery", "--app=revengine", "worker", "--beat", "-l", "info"]
##    env_file:
##      - .docker.env
##    links:
##      - db:db
##    depends_on:
##      - web
##      - redis
