[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | build
  | dist
  | env
  | htmlcov
  | node_modules
  | public
  | venv
  | migrations
)/
'''

[tool.poetry]
name = "rev-engine"
version = "0.1.0"
description = ""
authors = ["Caktus Group, LLC <teams@caktusgroup.com>"]

[tool.poetry.dependencies]
python = "^3.9"
django = "^3.2"
celery = "5.0.5"
django-celery-beat = "2.2.0"
dj-database-url = "0.5.0"
django-compressor = "2.4"
django-honeypot = "0.9.0"
django-phonenumber-field = "5.1.0"
django-extensions = "3.1.2"
django-model-utils = "4.1.1"
django-storages = "1.11.1"
django-redis = "4.12.1"
django-taggit = "1.3.0"
psycopg2 = "2.8.6"
phonenumberslite = "8.12.21"
whitenoise = "5.2.0"
python3-memcached= "1.51"
newrelic = "6.2.0.156"
sentry-sdk = "1.0.0"
uwsgi = "2.0.19.1"
djangorestframework = "^3.12.4"
djangorestframework-simplejwt = "^4.6.0"
Pillow = "^8.2.0"
stripe = "^2.56.0"
Django = "3.2.2"
google-cloud-storage = "^1.38.0"
google-auth = "^1.30.0"
requests = "^2.25.1"
responses = "^0.13.3"
sorl-thumbnail = "^12.7.0"
sorl-thumbnail-serializer-field = "^0.2.1"
django-anymail = "^8.3"
django-json-widget = "^1.1.1"

[tool.poetry.dev-dependencies]
appnope = "0.1.2"
beautifulsoup4 = "4.9.3"
black = "20.8b1"
colorama = "0.4.4"
coverage = "5.5"
django-debug-toolbar = "3.2.1"
factory_boy = "3.2.0"
flake8 = "3.9.1"
importlib-metadata = "3.10.1"
invoke = "1.5.0"
ipython = "7.22.0"
isort = "5.8.0"
pre-commit = "2.12.0"
pytest = "6.2.3"
pytest-cov = "2.11.1"
pytest-django = "4.2.0"
pyyaml = "5.4.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
