[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | build
  | dist
  | env
  | htmlcov
  | node_modules
  | public
  | venv
  | migrations
)/
'''

[tool.poetry]
name = "rev-engine"
version = "0.1.0"
description = ""
authors = ["Caktus Group, LLC <teams@caktusgroup.com>"]

[tool.poetry.dependencies]
python = "^3.9"
django = "^3.2"
celery = "^5"
django-celery-beat = "2.2.0"
dj-database-url = "0.5.0"
django-compressor = "2.4"
django-honeypot = "0.9.0"
django-phonenumber-field = "5.1.0"
django-extensions = "3.1.5"
django-model-utils = "4.1.1"
django-storages = "1.12.3"
django-redis = "4.12.1"
django-taggit = "1.3.0"
phonenumberslite = "8.12.46"
whitenoise = "6.0.0"
python3-memcached= "1.51"
newrelic = "7.10.0.175"
sentry-sdk = "^1"
uwsgi = "2.0.19.1"
djangorestframework = "^3.12.4"
djangorestframework-simplejwt = "^4.6.0"
Pillow = "^9.1.0"
stripe = "^2"
google-cloud-storage = "^1.38.0"
google-auth = "^1.30.0"
requests = "^2.25.1"
responses = "^0.13.3"
sorl-thumbnail = "^12.7.0"
sorl-thumbnail-serializer-field = "^0.2.1"
psycopg2-binary = "^2.9.1"
django-filter = "^2.4.0"
django-solo = "^1.1.5"
slack-sdk = "^3.7.0"
django-anymail = "^8.3"
django-json-widget = "^1.1.1"
django-safedelete = "^1.0.0"
django-reverse-admin = "^2.9.6"
django-health-check = "^3.16.4"
pycountry = "^20.7.3"
django-csp = "^3.7"
django-simple-history = "^3.0.0"
cloudflare = "^2.8.15"
heroku3 = "^5.1.4"

[tool.poetry.dev-dependencies]
appnope = "*"
beautifulsoup4 = "*"
black = "*"
colorama = "*"
coverage = "*"
django-debug-toolbar = "*"
factory_boy = "*"
flake8 = "*"
importlib-metadata = "3.10.1"
invoke = "*"
ipython = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pyyaml = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
