.quarantine-item-button-group {
    display: flex;
    gap: 0.5rem;

    & .button {
        text-align: center;
        transition: filter 0.3s;

        &:hover {
            filter: brightness(150%);
        }

        &.approve {
            background-color: #094609;
        }

        &.reject {
            background-color: rgb(108, 31, 31);
        }
    }
}
